html,body{
  font-family: 'Poppins', sans-serif;
  margin:0;
  padding:0;
  height:100vh;
  font-size: 16px;
  color:#323232;
  /** color spec*/
  --primary:#163f98;
  --primary-light:#244ea8;
  --primary-lighter:#2757bd;
  --primary-color:#efefef;
  --secondary:#ffaa00;
  --secondary-light:#fab223;
  --secondary-lighter:#f7b738;
  --secondary-color:#ffffff;
  --accent:#cf1010;
  --accent-light:#df1414;
  --accent-color:#efefef;
  --frozen-white:#cfcfcf;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
::-webkit-scrollbar-thumb {
  background: #ccc; 
}
::-webkit-scrollbar-thumb:hover {
  background: #aaa; 
}
body,
h1,h2,h3,h4,
p,header,footer,nav,
div,main,section,
button,textarea{
  box-sizing: border-box;
  margin: 0;
  padding:0;
  font-weight: 300;
}
textarea{
  border: 1px solid #cfcfcf;
  resize: none;
  border-radius: 1rem;
  outline: none;
}
textarea:focus{
  outline: solid var(--primary) 1px;
}
button{
  background-color: transparent;
  color:var(--secondary-color);
  border-radius: 1.5rem;
  padding:1rem 2rem;
  font-size: 1rem;  
  font-weight: 600;
  border:1px solid #cfcfcf;
  transition: all 0.2s ease-out;
}
button:hover{ 
  box-shadow: inset 0 0 8rem var(--primary-color);
  color:var(--primary);
  border:1px solid transparent;
}
.App{
  display: flex;
  flex-direction: row;
  width:100%;
  align-items: flex-start;
}
/*layout*/
.container{ display:block; }
.display{ display: flex;}
.display.middle{ align-items: center; }
.display.center{ justify-content: center; }
.half{ width:50% }
.full{ width:100% }
.spacer-s{ padding:0.5rem; }
.spacer-m{ padding:1rem; }
.spacer-l{  padding:1.5rem; }
.spacer-sx{ padding:0 0.5rem; }
.spacer-mx{ padding:0 1rem; }
.spacer-lx{  padding:0 1.5rem; }
.spacer-sy{ padding:0.5rem 0; }
.spacer-my{ padding:1rem 0; }
.spacer-ly{  padding:1.5rem 0; }
/*typography*/
.text-s{ font-size: 0.8rem; }
.text-m{ font-size: 1.0rem; }
.text-l{ font-size: 1.5rem; }
.text-xl{ font-size: 3.0rem; }
.text-xxl{ font-size: 4.0rem; }
.medium{ font-weight: 600; }
.bold{ font-weight: 700; }
.secondary-text{ color: var(--secondary); }
.primary-text{ color: var(--primary); }
.primary{ background-color: var(--primary); color: var(--primary-color); }
.accent{ background-color: var(--accent); color: var(--accent-color); }
.accent:hover{ background-color: var(--accent-light); box-shadow: none; color: var(--accent-color); }
/*material*/
.paper-x{  box-shadow: 2px 0 6px rgba(0,0,0,0.2); }
.paper-rx{  box-shadow: -2px 0 6px rgba(0,0,0,0.2); }
.paper-y{  box-shadow: 0 2px 6px rgba(0,0,0,0.2); }
.paper-ry{  box-shadow: 0 -2px 6px rgba(0,0,0,0.2); }
/*toolkit*/
.toolkit{
  min-height: 100vh;
  background-color: var(--primary);
  color: var(--primary-color);
  width:30%;  
  box-shadow: inset 2rem 6rem 10rem #00000044;
}
.tool-item {
  background-color: var(--primary-light);
  border-radius: 1.5rem;
  cursor: pointer;
}
.tool-item:hover{
  background-color: var(--primary-lighter);
}
/*workspace*/
.workspace{
  min-height: 100vh;
  background-color: #ffffff;  
  width:70%;
  position: fixed;
  top:0;
  right:0;
  box-shadow: inset 0 2rem 6rem #dfdfdf;
}
.film-white{
  background-color: #ffffffda;
  min-height: 100vh;
}
.graphic-aa{
  position: absolute;
  right:4rem;
  top:6rem;
  border-radius: 50%;
  z-index: -1;
}